<html>
  <head>
    <link rel="stylesheet", href="../styles/info.css">
  </head>  
  <body>
   <div class="body">
    <h3>Diet Problem Solver</h3>
    <section class="desc-section">
      <img src="../images/food-banner.jpg" class="healthy-food-img">
      <p class="desc">
        This page's main feature is to find the cheapest and most
        nutritious combination of foods that will satisy all the daily
        nutritional requirements of an individual. The problem is
        formulated as a linear program where the objective is to minimize
        cost and meet constraints but will satisfy the nutritional needs.
        The program included constraits that regulate the number of
        <b>calories</b> and amounts of <b>vitamins</b>, <b>minerals</b>,
        <b>fats</b>, <b>sodium</b>, and <b>cholesterol</b> in the diet.
        A certain food option may only have 0-10 servings.
      </p>
    </section>
   </div>
  </body>
</html>
