/*  DEFAULT CSS */

body{
  
}

.apply-preset{
  font-size: 12px;
  width: 100%;
  margin-right: 5px;
}

.clear{
  font-size: 12px;
  width: 100%;
  margin-left: 5px;
}

.selection-action-buttons{
  display: flex;
  margin-top: 5px;
}

.preset-buttons{
  display: flex;
}

.select-all{
  font-size: 12px;
  width: 100%;
  margin-right: 5px;
}

.unselect-all{
  font-size: 12px;
  width: 100%;
  margin-left: 5px;
}

.custom-select{
  font-size: 12px;
  width: 100%;
}

.modal-dialog{
  width: 80%;
  max-width: 80%;
}